<div id="results">
	<h1>Results</h1>
  <table>
	  <tr>
	  	<th>id</th>
	  	<th>question</th>
	  	<th>your answer</th>
	    <th>correct answer</th>
	  	<th>% correct</th>
	  </tr>
	  <% @questions.each_with_index do |q, i| %>
	    <tr>
	      <td><%= q.id %></td>
	      <td><%= q.text %></td>
	      <td><%= h @answers["q#{(i + 1)}"]%></td>
	      <td><%= q.answer %></td>
	      <td><%= q.percent_correct %></td>
	<% puts i %>
	    </tr>
	  <% end %>
  </table>
</div>
